<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serial_HRM_Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Serial_HRM_Monitor.Properties.Settings>
            <setting name="graphBGCol" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="graphGridCol" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="graphLineCol" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="graphLineThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BPMFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SPOFile" serializeAs="String">
                <value />
            </setting>
            <setting name="HeartIcon" serializeAs="String">
                <value>True</value>
            </setting>
        </Serial_HRM_Monitor.Properties.Settings>
    </userSettings>
</configuration>